.container{
    width: 100vw;
    background: rgb(241, 240, 240);
    border: 0;
    margin: 0;

}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px 0;
    padding: 20px;
}
.w3-bar-item {
    margin-right: 20px;
    color: white;
    font-size: 20px;
}
.nav-right{
    color: white;
    margin-right: 10px;
    font-size: 20px;
}
.header{
    text-align: center;
    font-size: 20px;
    background-color: transparent;
}
.w3-xxxlarge{
    font-size: xx-large;
}
.w3-tag-head{
    background-color: black;
    color: white;
    padding: 2px;
}

.routes{
   display: flex; 
}
.routes-ul{
    display: flex;
}
.routes-li{
list-style: none;
text-decoration: none;
margin-right: 10px;
}
.body{
    display: flex;
    width: 100vw;
}
.right{
    max-width: 30vw;  
  margin-left: 40px;
}
.left{
    margin-left: 30px;
    padding: 20px;
    background-color: white;

}
img{
    height: 100%;
    width: 100%;
}
.w3-padding-106{
    width: 200px;
}
h3{
    text-align: center;
}
.w3-black{
    color: white;
    background-color: black;
    width: 100%;
}
.w3-margin{
margin-bottom: 40px;
background-color: white;

}
.w3-container{
    padding: 1px 10px;
}
.w3-left{
height: 60px;
width: 100px;
margin-right: 10px;
}
.w3-padding-16{
    display: flex;
    margin-bottom: 10px;
}

.w3-row-padding{
    display: flex;
}

.icons{
    padding: 18px;
}
.icon{
    font-size: 25px;
}
.w3-input{
    padding: 7px 0;
}
.w3-red{
    padding: 10px 0;
    width: 80%;
    background-color: red;
    outline: none;
    border: 0;
}
footer{
    text-align: center;
    background-color: rgb(160, 159, 159);
}
.nav-right-div{
    display: flex;
}

.nav-input{
    padding: 5px;
    border-radius: 10px;
    outline: none;
    border: 0;
    
}